.container{
	display: flex;
	justify-content: center;
/*	margin-top: 5%;*/
	align-items: center;
	font-weight: bold;
	color:white;
}


button{
	font-weight: bold;
	padding:10px 15px;
	margin:0 15px;
	border: 2px solid yellow;
	border-radius: 25px;
	background-color: transparent;
	transition: all 0.3s;
	padding: 10px 20px;
	color:white;
}

button:hover{
	background-color: yellow;
	color:black;
}

/*Media Queries*/
@media screen and (max-width:900px){
	.container button{
		padding: 5px;
		font-weight: normal;
	}
}